output/lvl0/lvl0doc/*
output/lvl0/lvl0pdf/*
output/lvl1/lvl1doc/*
output/lvl1/lvl1pdf/*
output/lvl2/lvl2doc/*
output/lvl2/lvl2pdf/*
output/lvl3/lvl3doc/*
output/lvl3/lvl3pdf/*
output/lvl4/lvl4doc/*
output/lvl4/lvl4pdf/*
output/lvl5/lvl5doc/*
output/lvl5/lvl5pdf/*
output/merged/*
test.py